<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CPConnection" connectionString="Data Source=copticpeople.database.windows.net;Initial Catalog=CopticPeopleDB;Integrated Security=False;User Id=cpuser;Password=CPInJesus@3;"/>
    
  </connectionStrings>
  <appSettings>
    
    
  </appSettings>
</configuration>